@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fefce8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}